/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;  
}

body {
    background-color: #F5F5F5;
    font-family: avenir;
    width: 100%;
}

#logo {
    width: 8em;
}

ul {
    display: flex;
    list-style: none;
}

ul li:first-of-type {
    margin-right: auto;
    margin-left: -35px;
}

header {
    padding: 0px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
    margin: 0%;
    box-shadow: 0px 2px #D0D0D0;
}

.headerimg, .hamburger {
    width: 3em;
}

.menu {
    border-style: none;
    background-color: white;
}

/*outline: none bron:https://www.bitdegree.org/learn/css-link-color*/
/*box-shadow bron: https://stackoverflow.com/questions/4520943/fade-borders-in-css*/
.menu:focus {
    outline: none;
    box-shadow: 0 5px 5px rgba(204,255,255,1);
}


.buttons, #button {
    color: white;
    border: 1px solid transparent;
    background-color:#FF6200;
    border-bottom-color: #b34500;
    border-top-color: #ffc099;
    padding: 0.5em 1em;
    border-radius: 0.6em;
    font-weight: bold;
    font-size: 0.9em;
    margin: 0.5em;
    transition: .5s;
}

#button {
    position: relative;
    top: 10px;
    padding: 00.3em 0.6em;
    text-decoration: none;   
}

/*https://www.bitdegree.org/learn/css-link-color*/
.buttons:hover, #button:hover {
    background-color: white;
    color: #FF6200;
    border-color: #FF6200;
    transition: .5s;
}

#taal {
    position: relative; 
    top: 9px;
    right: 10px;
}

h1, h2 {
    color: #ff6200;
}

h2 {
    font-size: 1.2em;
    font-weight: 1;
}

section {
    position: relative;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0px 4px #D0D0D0;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    overflow: hidden;
    top: 90px;
}

.pijltje {
    display: grid;
    width: 1.5em;
}

.sectionlink {
    position: relative;
    left: 30px;
    top: -20px;
    width: 100&;
}
.upperimg {
    position: relative;
    top: -17px;
    left: -17px;
    width: 108%;
}

.lowerimg {
    position: relative;
    border-radius: 1em;
    width: 100%;
}

.checkbox {
    position: relative;
    top: 15px;
    right: 197px;
}

#onthoud {
    position: relative;
    bottom: 24px;
    left: 20px;
}

#kwijt {
    color: darkslateblue;
    font-weight: 500;
}

footer {
    position: relative;
    background-color: #EBEBEB;
    display:grid;
    grid-auto-columns:min-content;
    justify-content:center;
    align-items:center;
    text-align:center;
    border-top: solid white;
    padding: 2em;
    top: 90px;
}

label {
    display: flex; 
}

input {
    width: 30em;
    padding: 0.5em;
}

footer a {
    margin: 5px;
}

#inlogsection {
    position: relative;
    top: 200px;
}

.nav {
    position: absolute;
    display: grid;
    left: 190px;
    right: 0px;
    top: 0px;
    margin-left: 300px;
    transition: 1s;
}

.kruis {
    width: 4em;
    position: relative;
    top: -20px;
    left: 235px;
   border-style: hidden;
    margin: 0px;
    background-color: #EBEBEB;
}

.kruis:focus {
    outline: none;
}

.nav img {
    width: 3.5em;
}

.nav h3 {
    background-color: #EBEBEB;
    margin: 0px;
    margin-bottom: -50px;
    padding: 28px;
    text-align: center;
}

.nav a {
    color: black;
    background-color: white;
    border-bottom: 1px solid #D0D0D0;
    padding: 15px;
    text-decoration: none;
}

.nav a:hover {
    background-color: lightgray;
    transition: 1s;
}

.uitgeklapt {
    margin: 0px;
    transition: 1s;
}
